$purple: #9b50ba;
$blue: #3498db;
$green: #2ecc71;
$yellow: #f1c40f;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 40px;
  color: white;

  h1 {
    font-weight: 300;
    font-size: 3rem;
  }

  .author {
    text-align: right;
  }
}

.slider {
  background-color: white;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  transition-duration: 1s;
  background-visibility: hidden;
  transition-delay: 0.5s;

  transform: translateZ(0);
}

.slide {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $yellow;
  background-visibility: hidden;

  text-align: center;
  line-height: 600px;
  font-size: 5rem;
  color: white;

  left: 0;

  &.active {
  }

  &:nth-child(2) {
    background-color: $green;
  }

  &:nth-child(3) {
    background-color: $blue;
  }

  &:nth-child(4) {
    background-color: $purple;
  }

  &:nth-child(5) {
    background-color: $purple;
  }

  &:nth-child(6) {
    background-color: $purple;
  }

  &:nth-child(7) {
    background-color: $purple;
  }

  &:nth-child(8) {
    background-color: $purple;
  }
}

.slider-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;

  > div {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    z-index: 2;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;

    transition-duration: 0.25s;
    background-color: transparent;

    &:hover {
      opacity: 1;
    }

    &.active {
      background-color: white;
      transform: scale(2);
      opacity: 1;
    }
  }
}
