@keyframes transformTopToBot {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.slider {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  transition-duration: 0s;
  background-visibility: hidden;
  transition-delay: 0.5s;

  transform: translateZ(0);
}

.slide {
  position: absolute;
  top: 0;
  height: 100%;
  background-visibility: hidden;

  text-align: center;
  color: white;

  left: 0;

  animation-name: fadeOut;
  animation-duration: 2s;

  &.active {
    animation-name: fadeIn;
    animation-duration: 2s;
    .title-animation-1 {
      animation: transformTopToBot 1s linear 1;
    }
    .describe-animation-1 {
      animation: transformTopToBot 1.5s linear 1;
    }
    .btn-animation-1 {
      animation: transformTopToBot 2s linear 1;
    }
  }

  .title-animation-1,
  .describe-animation-1,
  .btn-animation-1 {
    animation-name: fadeOutUp;
    animation-duration: 1s;
  }
}

.slider-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;

  > div {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    z-index: 2;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;

    transition-duration: 0.25s;
    background-color: transparent;

    &:hover {
      opacity: 1;
    }

    &.active {
      background-color: white;
      transform: scale(2);
      opacity: 1;
    }
  }
}

.slide-describe {
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  word-spacing: 0px;
}
